In [1]:
import argparse
import cptac
import numpy as np

cptac warning: Your version of cptac (1.1.2) is out-of-date. Latest is 1.5.14. Please run 'pip install --upgrade cptac' to update it. (/Users/yingweihu/opt/anaconda3/envs/py39_glycositeatlas/lib/python3.9/threading.py, line 917)

In [4]:
cptac.download('hnscc')

True

In [5]:


# def main():
#     parser = argparse.ArgumentParser()
#     parser.add_argument('--cancerType', dest='type',
#                         help='Cancer type to be collected')
#     parser.add_argument('--sampleType', dest='sample', default='all',
#                         help='Sample type, tumor vs normal vs all (default), \
#                         to be collected')
#     opts = parser.parse_args()


    # if opts.type.lower() == 'brca':
    #     dat = cptac.Brca()
    # elif opts.type.lower() == 'ccrcc':
    #     dat = cptac.Ccrcc()
    # elif opts.type.lower() == 'colon':
    #     dat = cptac.Colon()
    # elif opts.type.lower() == 'endometrial':
    #     dat = cptac.Endometrial()
    # elif opts.type.lower() == 'gbm':
    #     dat = cptac.Gbm()
    # elif opts.type.lower() == 'hnscc':
    #     dat = cptac.Hnscc()
    # elif opts.type.lower() == 'lscc':
    #     dat = cptac.Lscc()
    # elif opts.type.lower() == 'luad':
    #     dat = cptac.Luad()
    # elif opts.type.lower() == 'ovarian':
    #     dat = cptac.Ovarian()
    # else:
    

dat = cptac.Hnscc()

df = dat.get_proteomics()
meta = dat.get_clinical()

    # # Get the sample type specific dataframe
    # if opts.sample.lower() != 'all':
    #     meta = dat.get_clinical()
    #     if opts.sample.lower() == 'tumor':
    #         ind = meta[meta["Sample_Tumor_Normal"] == "Tumor"].index
    #         ind = [i for i in ind if i in df.index]
    #         df = df.loc[ind]
    #     elif opts.sample.lower() == 'normal':
    #         nIDs = list(meta[meta["Sample_Tumor_Normal"] == "Normal"].index)
    #         nIDs = list(set(nIDs) & set(df.index))
    #         df = df.loc[nIDs]
    #         df.index = [nID[:-2] if nID[-2:] ==
    #                     ".N" else nID for nID in nIDs]
    #     else:
    #         exit("The sample type, tumor vs normal vs all (default), \
    #         is not correctly set!")

    # some dataset has two level of indices some has only one
if df.columns.nlevels == 2:
    df.columns = df.columns.droplevel(1)
elif df.columns.nlevels != 1:
    print("The number of column levels is larger not 1 or 2!\n")
    raise

In [7]:
df

Name,A1BG,A1CF,A2M,A2ML1,A4GALT,AAAS,AACS,AADAC,AADAT,AAED1,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
Patient_ID,,,,,,,,,,,,,,,,,,,,,
C3L-00977,27.725342,19.056377,28.565472,26.929429,NaN,24.217340,24.746903,21.413714,NaN,18.187642,...,NaN,24.739946,23.345919,19.219742,NaN,NaN,22.473319,27.870637,24.543298,20.070938
C3L-00987,28.152905,NaN,29.374443,27.872815,NaN,24.288701,24.731336,24.530248,NaN,NaN,...,NaN,24.575403,22.715326,NaN,NaN,19.438877,22.350913,27.694608,24.194437,17.471477
C3L-00994,28.348186,18.058554,30.252145,25.854580,NaN,24.150865,24.325959,21.295667,NaN,19.525432,...,NaN,24.531751,22.636623,19.005228,NaN,NaN,22.780357,28.117156,24.429272,20.055226
C3L-00995,28.004445,NaN,29.267877,28.182014,NaN,24.292617,24.878660,19.727526,NaN,18.660637,...,NaN,24.719581,22.475250,NaN,NaN,19.361772,22.385058,28.565526,24.713502,NaN
C3L-00997,27.735214,NaN,28.724642,26.751857,18.426501,24.348787,25.381833,21.636534,NaN,NaN,...,NaN,24.692211,23.130920,NaN,NaN,19.610571,22.782499,28.117587,24.374482,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C3N-04275.N,27.708177,17.807197,29.184649,28.388298,NaN,24.222330,25.212769,23.148175,NaN,16.429385,...,NaN,24.599968,22.482026,18.412554,NaN,NaN,22.459153,27.464044,24.658842,18.625008
C3N-04276.N,29.521735,NaN,30.304624,28.794933,17.926236,24.061325,25.060691,23.596460,NaN,NaN,...,NaN,24.631897,22.543611,19.587623,NaN,19.156033,22.275892,27.561264,24.595373,NaN
C3N-04277.N,29.516238,NaN,31.029911,28.287798,NaN,24.216967,24.989632,24.160025,NaN,18.681249,...,NaN,24.681435,21.943179,NaN,NaN,19.536731,22.636691,27.705022,24.613596,20.226972
C3N-04278.N,28.440784,NaN,29.932349,29.203315,NaN,24.093123,25.911028,24.417185,NaN,18.173428,...,NaN,24.802175,22.417321,18.032855,NaN,19.652961,22.517778,27.206741,24.683141,18.917077
C3N-04279.N,29.119022,NaN,29.578622,29.595500,NaN,23.886398,25.162400,NaN,NaN,18.949107,...,NaN,24.440214,22.342059,NaN,NaN,19.307921,22.664737,27.334097,24.506574,19.414257

In [6]:
dfE = np.exp(df)

In [13]:
dfU = np.log(dfE.groupby(level=0, axis=1).sum(min_count=1))
dfU

/var/folders/3n/v4wj_tqs36zg_qvs2vvr4_mh0000gn/T/ipykernel_64287/2093500333.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  dfU = np.log(dfE.groupby(level=0, axis=1).sum(min_count=1))

Name,A1BG,A1CF,A2M,A2ML1,A4GALT,AAAS,AACS,AADAC,AADAT,AAED1,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
Patient_ID,,,,,,,,,,,,,,,,,,,,,
C3L-00977,27.725342,19.056377,28.565472,26.929429,NaN,24.217340,24.746903,21.413714,NaN,18.187642,...,NaN,24.739946,23.345919,19.219742,NaN,NaN,22.473319,27.870637,24.543298,20.070938
C3L-00987,28.152905,NaN,29.374443,27.872815,NaN,24.288701,24.731336,24.530248,NaN,NaN,...,NaN,24.575403,22.715326,NaN,NaN,19.438877,22.350913,27.694608,24.194437,17.471477
C3L-00994,28.348186,18.058554,30.252145,25.854580,NaN,24.150865,24.325959,21.295667,NaN,19.525432,...,NaN,24.531751,22.636623,19.005228,NaN,NaN,22.780357,28.117156,24.429272,20.055226
C3L-00995,28.004445,NaN,29.267877,28.182014,NaN,24.292617,24.878660,19.727526,NaN,18.660637,...,NaN,24.719581,22.475250,NaN,NaN,19.361772,22.385058,28.565526,24.713502,NaN
C3L-00997,27.735214,NaN,28.724642,26.751857,18.426501,24.348787,25.381833,21.636534,NaN,NaN,...,NaN,24.692211,23.130920,NaN,NaN,19.610571,22.782499,28.117587,24.374482,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C3N-04275.N,27.708177,17.807197,29.184649,28.388298,NaN,24.222330,25.212769,23.148175,NaN,16.429385,...,NaN,24.599968,22.482026,18.412554,NaN,NaN,22.459153,27.464044,24.658842,18.625008
C3N-04276.N,29.521735,NaN,30.304624,28.794933,17.926236,24.061325,25.060691,23.596460,NaN,NaN,...,NaN,24.631897,22.543611,19.587623,NaN,19.156033,22.275892,27.561264,24.595373,NaN
C3N-04277.N,29.516238,NaN,31.029911,28.287798,NaN,24.216967,24.989632,24.160025,NaN,18.681249,...,NaN,24.681435,21.943179,NaN,NaN,19.536731,22.636691,27.705022,24.613596,20.226972
C3N-04278.N,28.440784,NaN,29.932349,29.203315,NaN,24.093123,25.911028,24.417185,NaN,18.173428,...,NaN,24.802175,22.417321,18.032855,NaN,19.652961,22.517778,27.206741,24.683141,18.917077
C3N-04279.N,29.119022,NaN,29.578622,29.595500,NaN,23.886398,25.162400,NaN,NaN,18.949107,...,NaN,24.440214,22.342059,NaN,NaN,19.307921,22.664737,27.334097,24.506574,19.414257

In [14]:

dfU.dropna(how='all', axis=0, inplace=True)

In [15]:
dfU

Name,A1BG,A1CF,A2M,A2ML1,A4GALT,AAAS,AACS,AADAC,AADAT,AAED1,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
Patient_ID,,,,,,,,,,,,,,,,,,,,,
C3L-00977,27.725342,19.056377,28.565472,26.929429,NaN,24.217340,24.746903,21.413714,NaN,18.187642,...,NaN,24.739946,23.345919,19.219742,NaN,NaN,22.473319,27.870637,24.543298,20.070938
C3L-00987,28.152905,NaN,29.374443,27.872815,NaN,24.288701,24.731336,24.530248,NaN,NaN,...,NaN,24.575403,22.715326,NaN,NaN,19.438877,22.350913,27.694608,24.194437,17.471477
C3L-00994,28.348186,18.058554,30.252145,25.854580,NaN,24.150865,24.325959,21.295667,NaN,19.525432,...,NaN,24.531751,22.636623,19.005228,NaN,NaN,22.780357,28.117156,24.429272,20.055226
C3L-00995,28.004445,NaN,29.267877,28.182014,NaN,24.292617,24.878660,19.727526,NaN,18.660637,...,NaN,24.719581,22.475250,NaN,NaN,19.361772,22.385058,28.565526,24.713502,NaN
C3L-00997,27.735214,NaN,28.724642,26.751857,18.426501,24.348787,25.381833,21.636534,NaN,NaN,...,NaN,24.692211,23.130920,NaN,NaN,19.610571,22.782499,28.117587,24.374482,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C3N-04275.N,27.708177,17.807197,29.184649,28.388298,NaN,24.222330,25.212769,23.148175,NaN,16.429385,...,NaN,24.599968,22.482026,18.412554,NaN,NaN,22.459153,27.464044,24.658842,18.625008
C3N-04276.N,29.521735,NaN,30.304624,28.794933,17.926236,24.061325,25.060691,23.596460,NaN,NaN,...,NaN,24.631897,22.543611,19.587623,NaN,19.156033,22.275892,27.561264,24.595373,NaN
C3N-04277.N,29.516238,NaN,31.029911,28.287798,NaN,24.216967,24.989632,24.160025,NaN,18.681249,...,NaN,24.681435,21.943179,NaN,NaN,19.536731,22.636691,27.705022,24.613596,20.226972
C3N-04278.N,28.440784,NaN,29.932349,29.203315,NaN,24.093123,25.911028,24.417185,NaN,18.173428,...,NaN,24.802175,22.417321,18.032855,NaN,19.652961,22.517778,27.206741,24.683141,18.917077
C3N-04279.N,29.119022,NaN,29.578622,29.595500,NaN,23.886398,25.162400,NaN,NaN,18.949107,...,NaN,24.440214,22.342059,NaN,NaN,19.307921,22.664737,27.334097,24.506574,19.414257

In [12]:
dfU.transpose()

Patient_ID
C3L-00977      36.197016
C3L-00987      36.562605
C3L-00994      36.332755
C3L-00995      36.525344
C3L-00997      36.354715
                 ...
C3N-04275.N    36.317393
C3N-04276.N    36.699094
C3N-04277.N    36.743757
C3N-04278.N    36.535670
C3N-04279.N    37.043325
Length: 178, dtype: float64

In [ ]:
dfU.transpose().to_csv(path_or_buf="file.tsv", sep='\t')